html * {
  font-family: "Cinzel Decorative", cursive;
}

body {
  background-color: lavenderblush;
}

.button:hover {
  cursor: pointer;
}

.btn.add-tracker {
  margin-top: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.331);
}

.centered {
  justify-content: center;
  align-content: center;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.grow-1 {
  flex-grow: 1;
}

.team-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.red-team-container {
  background-color: #a50d0d80;
}

.blue-team-container {
  background-color: #0492ff7e;
}

.score-keeper {
  justify-content: space-evenly;
  align-content: center;
}

.score-keeper-title {
  font-size: 3rem;
}

.score-keeper .value {
  font-size: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: "halloween_two", cursive;
  min-width: 4rem;
}

.score-keeper-button {
  min-width: 1.5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 4.75rem;
  font-size: 2rem;
  margin: 0 0.5rem;
}

.header {
  justify-content: space-evenly;
  align-content: center;
}

.header .button {
  min-width: 100px;
}

.br-container {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.br-turn-container {
  display: flex;
  flex-direction: column;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.br-turn {
  height: 2em;
  width: 2em;
  border: 1px solid black;
  opacity: 0.3;
}

.br-turn-container .br-turn.br-current-turn {
  opacity: 1;
  /* background-color: goldenrod; */
  /* border: 1px solid goldenrod; */
}

.br-turn.br-turn-red {
  background-color: #a50d0d;
}

.br-turn.br-turn-blue {
  background-color: #0492ff;
}

@media only screen and (min-width: 813) {
  /* For desktop: */
  html * {
    font-family: "Cinzel Decorative", cursive;
  }

  .button:hover {
    cursor: pointer;
  }

  .centered {
    justify-content: center;
    align-content: center;
  }

  .App {
    text-align: center;
    height: 100vh;
    width: 100vw;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .grow-1 {
    flex-grow: 1;
  }

  .team-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .red-team-container {
    background-color: #a50d0d80;
  }

  .blue-team-container {
    background-color: #0492ff7e;
  }

  .score-keeper {
    justify-content: center;
    align-content: center;
  }

  .score-keeper-title {
    font-size: 2rem;
  }

  .score-keeper .value {
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "Nosifer", cursive;
    min-width: 6rem;
  }

  .score-keeper-button {
    min-width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 4.5rem;
    font-size: 1.5rem;
    margin: 0;
  }

  .header {
    justify-content: space-evenly;
    align-content: center;
  }

  .header .button {
    min-width: 100px;
  }
}
